*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #fff8f3;
    background: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding top: 100px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
}
.color-orange{
    color: #fd6e0a;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav a{
    font-size: 20px;
    color: 4747474;
    text-decoration: none;
}
.but{
    background-color: #fd6e0a;
    color: #fff;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 25px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    max-width: 585px;

}
#banner .banner-image img{
    max-width: 585px;
    height: auto;
    vertical-align: middle;
}
#about, #skills, #resume{
    padding-top: 130px;
}
#about .about-content{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 155px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}
#about .about-content .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 20px;
    color: #181818;
    margin-bottom: 15px;
}
#skills{
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #fff8f3;
    margin: 10px 483px;
}
#skills .skills-content{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
#skills .skills-content .skill-box{
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: left;    
}
.skill-box .skill-card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
}
.skill-card img{
    width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
#resume .resume-content{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    text-align: center;
    display: flex;
    gap: 24px;
}
.resume-content .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
    text-align: left;
}
.resume-card h3{
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747
}
.resume-card h4{
    font-size: 20px;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card h5{
    font-size: 18px;
    margin-bottom: 15px;
    color: #fd6e0a;
}
.resume-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}
.resume-content hr{
    margin: 30px 0;
}